# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\2022上半年\a\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
